




body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mensagem-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.mensagem {
  font-size: 40px;
  color: #000;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-align: center;
}
/* --- Estilos para o Menu Hambúrguer --- */

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
  }

  header nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  header nav ul, .menu {
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    gap: 0; /* Remove o gap para o menu dropdown */
  }

  header nav ul li a {
    padding: 1rem;
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
  }

  header nav ul li:last-child a {
    border-bottom: none;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333333;
    transition: all 0.3s ease-in-out;
  }

  .menu-toggle:checked ~ nav {
    display: block;
  }

  .menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
}