body {
    font-family: 'Italiana', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #CD9797;
}

.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-weight: 300;
}


        .container-cards {
            display: flex;
            flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha em telas menores */
            gap: 40px; /* Espaçamento entre os cards */
            justify-content: center; /* Centraliza os cards no container */
        }

        .card-usuario {
            background-color: #D9D9D9;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 29px;
            text-align: center;
            width: 220px; /* Largura média do card */
            height: 400px;
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito suave ao passar o mouse */
        }

        .card-usuario:hover {
            transform: translateY(-5px); /* Eleva o card levemente */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
        }

        .card-usuario .imagem-usuario {
            width: 120px; /* Tamanho da imagem */
            height: 120px; /* Tamanho da imagem */
            border-radius: 50%; /* Transforma a imagem em um círculo */
            object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
            margin-bottom: 15px;
            border: 3px solid #eee; /* Borda sutil na imagem */
        }

        .card-usuario .nome-usuario {
            font-size: 1.2em;
            font-weight: bold;
            color: #333;
            margin: 0;
             margin-bottom: 8px;
        }
.texto-usuario {
            font-size: 0.9em;
            color: #666;
            margin-top: 0;
            text-align: left; /* Alinha o texto à esquerda */
        }
